<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <span class="flow-text">Last messages from inbox: <span th:text="${email}"></span> (<span th:text="${name}"></span>)</span>
                    </div>
                </div>
                <div class="card blue-grey darken-1" th:each="message: ${messages}">
                    <div class="card-content white-text">
                        <p th:text="${message}">No messages</p>
                    </div>
                </div>
            </div>
        </main>

    <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>